<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../assets/style.css">
    <script src="../assets/script.js"></script>
    <script>
        function formValidation() {
           
        }
    </script>
</head>
<body>
    

    <div class="container">
        <div class="registration">
            <h1>Registration</h1>
            <h2 id="message"></h2>
        </div>
    </div>
</body>
</html>
